<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />

        <title>Add A Product</title>
    </head>
    <body class = "container">
        <h1 class="display-2">Add A New Product</h1>
        <div class="row">
            <form class="col" method="POST" action="/api/product/add" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="productTitle" class="form-label">Product Title</label>
                    <input type="text" class="form-control" id="productTitle" name="productTitle" aria-describedby="emailHelp" />
                    <div id="emailHelp" class="form-text">100 -150 words</div>
                </div>
                <div class="mb-3">
                    <label for="category"form-label">Product category</label>
                    <select class="form-select" name="category" id="category" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="wallets">Wallets</option>
                        <option value="apparel">Apparel</option>
                        <option value="electronics">Electronics</option>
                      </select>
                </div>
                <div class="mb-3">
                    <label for="mrp" class="form-label">MRP</label>
                    <input type="number" class="form-control" id="mrp" name="mrp" aria-describedby="mrp" />
                </div>

                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" class="form-control" id="price" name="price" aria-describedby="price" />
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Attributes</label>
                    <input type="text" placeholder="KEY1" class="form-control" id="attr" name="attr" aria-describedby="attr" />
                    <input type="text" placeholder="VALUE1" class="form-control" id="val" name="val" aria-describedby="val" />
                    <br>
                    <input type="text" placeholder="KEY2" class="form-control" id="attr" name="attr" aria-describedby="attr" />
                    <input type="text" placeholder="VALUE2" class="form-control" id="val" name="val" aria-describedby="val" />

                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="description" id="description" cols="30" rows="10" class="form-control"></textarea>
                </div>

            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Product Images</label>
                <input type="file" name="image" id="image" class="form-control">
            </div>
                
            <div class="mb-3">
                <label for="bullets" class="form-label">Bullet Points</label>
                <textarea name="bullets" id="bullets" cols="30" rows="3" placeholder="BUllet Point 1" class="form-control"></textarea>
                <textarea name="bullets" id="bullets" cols="30" rows="3" placeholder="BUllet Point 2" class="form-control"></textarea>
            </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </body>
</html>
